body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

p {
    margin-left: 20px;
    font-size: larger;
}

button{
    font-size: larger;
}

button:hover{
    color: blue;
    background-color: grey;
}

